<div class="SignUpMain">
  <div class="SignUpWrapper">
    <!-- <form action="" id="SignUPForm">
      <label for="">SignUp</label>
      <input type="text" placeholder="Name">
      <input type="text" placeholder="Email">
      <input type="text" placeholder="Password">
      <input type="text" placeholder="Confirm Password">
      <div class="ButtonWrapper">

        <button>Sign Up</button>
      </div>
    </form> -->


    <form action="" #SignupForm="ngForm" (ngSubmit)=signup(SignupForm.value)>
      <h1>Sign up</h1><br>
      <label for="">Email</label><br>
      <input type="text" ngModel name="email" placeholder="example@gmail.com" required> <br>
      <label for="">Password</label><br>
      <input type="password" ngModel name="password" placeholder="XXXXXX" required> <br>
      <label for="">Confirm Password</label><br>
      <input type="password" name="conifrm_password" placeholder="XXXXXX" required>
      <br>
      <button class="primary-btn" type="submit">sign up</button>
    </form>



  </div>
</div>