<main>
  <app-navbar></app-navbar>
  <section class="signup">
    <form #signupForm="ngForm" id="form" (ngSubmit)="onSubmit(signupForm)">
      <h1>Create a new post</h1><br>


      <label for="email"> Post Title: </label>
      <input type="text" [(ngModel)]="Title" name="Title" required>
      <br>
      <label for="email">Subtitle: </label>
      <input type="text" [(ngModel)]="Subtitle" name="Subtitle" required>
      <br>
      <label for="email">Description: </label>
      <input type="text" [(ngModel)]="PostBody" name="PostBody" required>
      <br>
      <label for="email">Img Url: </label>
      <input type="text" [(ngModel)]="ImgUrl" name="ImgUrl" required>
      <br>

      <label for="email">Rating: </label>
      <select name="Rating" id="" [(ngModel)]="Rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <br>

      <div class="SubmitButton">

        <button class="primary-btn" type="submit" [disabled]="signupForm.invalid">Submit</button>
      </div>
    </form>
  </section>
</main>